.s_box_board{
    margin: 0 auto;

}

.s_box_content {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.s_box_content2{
    width: 540px;

    padding: 12px;

    border: none; /* 테두리 없애 */
    border-radius: 8px; /* 모서리 둥글게 */
    box-shadow: 0 2px 4px rgb(0 0 0 / 10%), 0 8px 16px rgb(0 0 0 / 10%);    /* 그림자 */
}

.name1{
    text-align: left;

    margin-left: 30px;
    margin-top:100px;

    width: 100%;
}

.name1 span {
    text-align: left;
}

.mypage-border{
    border-bottom: 2px solid lightgray;
    width:750px;
    text-align: center;
    margin: 0 auto;
    height:10px;
    }

.form-control{
    width: 300px;
    height: 30px;

    font-size: 13px;
}

.form-control-sm{
    width: 92px;
    height: 30px;

    font-size: 13px;
}

th, td{
    text-align: left;
    vertical-align: middle;
}

.table{
    border-bottom: white;
}

.name2{
    margin-top: 15px;
}

.profile{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.btn-sm{
    color: white;
    background-color: rgb(20 167 255);
}

.btn-primary{
    color: white;
    background-color: rgb(20 167 255);
    
    width: 86px;
    height: 30px;

    line-height: 1px;
}

.btn-secondary{
    color: white;
    background-color: rgb(180,180,180);
}

.sign_up{
    width: 365px;
    padding: 12px 16px;
    font-size: 20px;
    border-radius: 7px;
    border: 0;
    margin-top: 10px;
    margin-bottom: 15px;
    color: white;
    background-color: rgb(20 167 255);
}

#idResult, #nickNameResult, #pwCheck {
    position: relative;
    top: -10px;
}


.btn-primary2, .btn-primary3, .btn-primary1, .btn-primary{
    color: white;
    background-color: rgb(20 167 255);
    
    width: 86px;
    height: 30px;

    line-height: 1px;
}

.emailbox {
    background-color:  #e9ecef;
    border: 1px solid #ced4da;
}

.emailbox:focus{
    outline: none;
}

.profile-img-box {
    display: flex;
    justify-content: center;
    align-items: center;

    width: 100px;
    height: 100px;

    border-radius: 50px;

    overflow: hidden;
}

