
/* section */ /* section */
/* section */ /* section */

section {
    margin: 40px auto;
}

.section_wrap {
    display: flex;
    justify-content: space-between;
    width: 1050px;

    text-align: left;
}

.view{
    width: 100%;
}

.board_name{
    margin: 10px;            
}

.title {
    margin: 10px;
    border-top: 2px solid black;
    padding-top: 10px;
}

/* 게시글 정보 라인 */
.info{
    border-bottom: 2px solid black;
    margin: 10px;
    padding-bottom: 10px;
    display: flex;
    justify-content: space-between;
}

.space1 {
    background-color: rgb(217,217,217);
    margin: 0 9px;
    width: 1px;
    height: 12px;
    display: inline;
}

/* 게시글 수정 삭제 */
.edit_delete a{
    text-decoration: none;
    color: black;
}

.modifyBtn:hover{
    text-decoration: none;
}

.space1 {
    background-color: rgb(217,217,217);
    margin: 0 9px;
    width: 1px;
    height: 12px;
    display: inline;
}


.content_wrap{
    margin: 10px;
    padding-bottom: 10px;
    border-bottom: 2px solid black;            
    min-height:20%;
}

.btn_row{
    display: flex;
    justify-content: space-between;
}

.btn_color_blue{
    background-color: rgb(20 167 255);
}

.float_right{
    display: inline;
    float: right;
}

.comment_wrap{
    border-top: 1px solid gray;
    padding-top: 10px;
}

.comment{
    border-bottom: 1px solid gray;
    display: grid;
    grid-template-columns: 150px 1fr 100px 100px 80px;
    padding-bottom: 10px;
    padding-top: 10px;
}

.report{
    padding-bottom: 10px;
}

#recomment_write{
    display: none;
    height: 132px;
}

.cursor_pointer{
    cursor: pointer;
}

/* 좋아요 */
.like_div{
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
}

.like_btn{
    cursor: pointer;
    /* position: relative; */
}

#like_cnt{
    margin-top: 10px;
    /* border: 1px solid black; */
}

/* 답글 수정하기에 대한 CSS */

/* 수정하기 버튼 */
.comment_modify_btn {
    border: none;
    background-color: white;
}

/* 답글 TEXT창 */
.comment_input_text {
    background-color: white;
    border: none;
}

.comment_input_text:focus {
    outline: none;
}