<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="org.zerock.momofit.mapper.tradeboard.TradeBoardMapper">
	
	<insert id="insert">
        INSERT INTO board(board_no, 
        				  title, 
        				  text, 
        				  board_like, 
        				  hits, 
        				  img_check, 
        				  user_no, 
        				  category_no, 
        				  subject_no)
        				  
        VALUES( BOARD_SEQ.nextval, 
        		#{title}, 
        		#{text}, 
        		#{board_like}, 
        		#{hits}, 
        		#{img_check}, 
        		#{user_no}, 
        		#{category_no}, 
        		#{subject_no} )
    </insert>


    <insert id="insertSelectKey">
        <selectKey keyProperty="board_no" order="BEFORE" resultType="int">
            SELECT BOARD_SEQ.nextval FROM dual
        </selectKey>

        INSERT INTO BOARD(board_no, title, text, board_like, hits, img_check, user_no, category_no, subject_no)
        VALUES( #{board_no},#{title}, #{text}, #{board_like}, #{hits}, #{img_check}, #{user_no},#{category_no}, #{subject_no} )      
    </insert>
    
    
    <select id="select" resultType="org.zerock.momofit.domain.tradeboard.TradeBoardVO">
        SELECT * FROM board WHERE board_no = #{board_no}
    </select>


    <update id="update">
        UPDATE board
        SET
            title = #{title},
            text=#{text},
            user_no=#{user_no},
            edit=current_date
        WHERE
            board_no = #{board_no}
    </update>
    

    <select 
        id="selectListWithPaging" 
        resultType="org.zerock.momofit.domain.tradeboard.TradeBoardVO">
		
        SELECT /*+ index_desc(board) */  *
		FROM board
        WHERE category_no=4
		
		OFFSET (#{currPage} - 1) * #{amount} ROWS
		FETCH NEXT #{amount} ROWS ONLY

    </select>
    

    <select 
        id="getTotalCount"
        resultType="int">
        SELECT /*+ index(board) */ count(board_no)
        FROM board
        WHERE category_no=4
    </select>

    



    
</mapper>