        /* 전체 폰트 설정 */

        /* 폰트30 */
        .font-30-900 {
            font-family: 'Noto Sans KR', sans-serif;
            font-weight: 900;
            font-size: 30px;
        }

        .font-30-700 {
            font-family: 'Noto Sans KR', sans-serif;
            font-weight: 700;
            font-size: 30px;
        }

        .font-30-500 {
            font-family: 'Noto Sans KR', sans-serif;
            font-weight: 500;
            font-size: 30px;
        }
        .font-30-400 {
            font-family: 'Noto Sans KR', sans-serif;
            font-weight: 400;
            font-size: 30px;
        }

        .font-30-300 {
            font-family: 'Noto Sans KR', sans-serif;
            font-weight: 300;
            font-size: 30px;
        }

        .font-30-100 {
            font-family: 'Noto Sans KR', sans-serif;
            font-weight: 100;
            font-size: 30px;
        }

        /* 폰트28 */
        .font-28-900 {
            font-family: 'Noto Sans KR', sans-serif;
            font-weight: 900;
            font-size: 28px;
        }

        .font-28-700 {
            font-family: 'Noto Sans KR', sans-serif;
            font-weight: 700;
            font-size: 28px;
        }

        .font-28-500 {
            font-family: 'Noto Sans KR', sans-serif;
            font-weight: 500;
            font-size: 28px;
        }
        .font-28-400 {
            font-family: 'Noto Sans KR', sans-serif;
            font-weight: 400;
            font-size: 28px;
        }

        .font-28-300 {
            font-family: 'Noto Sans KR', sans-serif;
            font-weight: 300;
            font-size: 28px;
        }

        .font-28-100 {
            font-family: 'Noto Sans KR', sans-serif;
            font-weight: 100;
            font-size: 28px;
        }

        /* 폰트26 */
        .font-26-900 {
            font-family: 'Noto Sans KR', sans-serif;
            font-weight: 900;
            font-size: 26px;
        }

        .font-26-700 {
            font-family: 'Noto Sans KR', sans-serif;
            font-weight: 700;
            font-size: 26px;
        }

        .font-26-500 {
            font-family: 'Noto Sans KR', sans-serif;
            font-weight: 500;
            font-size: 26px;
        }
        .font-26-400 {
            font-family: 'Noto Sans KR', sans-serif;
            font-weight: 400;
            font-size: 26px;
        }

        .font-26-300 {
            font-family: 'Noto Sans KR', sans-serif;
            font-weight: 300;
            font-size: 26px;
        }

        .font-26-100 {
            font-family: 'Noto Sans KR', sans-serif;
            font-weight: 100;
            font-size: 26px;
        }

        /* 폰트24 */
        .font-24-900 {
            font-family: 'Noto Sans KR', sans-serif;
            font-weight: 900;
            font-size: 24px;
        }

        .font-24-700 {
            font-family: 'Noto Sans KR', sans-serif;
            font-weight: 700;
            font-size: 24px;
        }

        .font-24-500 {
            font-family: 'Noto Sans KR', sans-serif;
            font-weight: 500;
            font-size: 24px;
        }
        .font-24-400 {
            font-family: 'Noto Sans KR', sans-serif;
            font-weight: 400;
            font-size: 24px;
        }

        .font-24-300 {
            font-family: 'Noto Sans KR', sans-serif;
            font-weight: 300;
            font-size: 24px;
        }

        .font-24-100 {
            font-family: 'Noto Sans KR', sans-serif;
            font-weight: 100;
            font-size: 24px;
        }

        /* 폰트22 */
        .font-22-900 {
            font-family: 'Noto Sans KR', sans-serif;
            font-weight: 900;
            font-size: 22px;
        }

        .font-22-700 {
            font-family: 'Noto Sans KR', sans-serif;
            font-weight: 700;
            font-size: 22px;
        }

        .font-22-500 {
            font-family: 'Noto Sans KR', sans-serif;
            font-weight: 500;
            font-size: 22px;
        }
        .font-22-400 {
            font-family: 'Noto Sans KR', sans-serif;
            font-weight: 400;
            font-size: 22px;
        }

        .font-22-300 {
            font-family: 'Noto Sans KR', sans-serif;
            font-weight: 300;
            font-size: 22px;
        }

        .font-22-100 {
            font-family: 'Noto Sans KR', sans-serif;
            font-weight: 100;
            font-size: 22px;
        }

        /* 폰트20 */
        .font-20-900 {
            font-family: 'Noto Sans KR', sans-serif;
            font-weight: 900;
            font-size: 20px;
        }

        .font-20-700 {
            font-family: 'Noto Sans KR', sans-serif;
            font-weight: 700;
            font-size: 20px;
        }

        .font-20-500 {
            font-family: 'Noto Sans KR', sans-serif;
            font-weight: 500;
            font-size: 20px;
        }
        .font-20-400 {
            font-family: 'Noto Sans KR', sans-serif;
            font-weight: 400;
            font-size: 20px;
        }

        .font-20-300 {
            font-family: 'Noto Sans KR', sans-serif;
            font-weight: 300;
            font-size: 20px;
        }

        .font-20-100 {
            font-family: 'Noto Sans KR', sans-serif;
            font-weight: 100;
            font-size: 20px;
        }


        /* 폰트18 */
        .font-18-900 {
            font-family: 'Noto Sans KR', sans-serif;
            font-weight: 900;
            font-size: 18px;
        }

        .font-18-700 {
            font-family: 'Noto Sans KR', sans-serif;
            font-weight: 700;
            font-size: 18px;
        }

        .font-18-500 {
            font-family: 'Noto Sans KR', sans-serif;
            font-weight: 500;
            font-size: 18px;
        }
        .font-18-400 {
            font-family: 'Noto Sans KR', sans-serif;
            font-weight: 400;
            font-size: 18px;
        }

        .font-18-300 {
            font-family: 'Noto Sans KR', sans-serif;
            font-weight: 300;
            font-size: 18px;
        }

        .font-18-100 {
            font-family: 'Noto Sans KR', sans-serif;
            font-weight: 100;
            font-size: 18px;
        }

        /* 폰트16 */
        .font-16-900 {
            font-family: 'Noto Sans KR', sans-serif;
            font-weight: 900;
            font-size: 16px;
        }
        
        .font-16-800 {
            font-family: 'Noto Sans KR', sans-serif;
            font-weight: 800;
            font-size: 16px;
        }

        .font-16-700 {
            font-family: 'Noto Sans KR', sans-serif;
            font-weight: 700;
            font-size: 16px;
        }

        .font-16-500 {
            font-family: 'Noto Sans KR', sans-serif;
            font-weight: 500;
            font-size: 16px;
        }
        .font-16-400 {
            font-family: 'Noto Sans KR', sans-serif;
            font-weight: 400;
            font-size: 16px;
        }

        .font-16-300 {
            font-family: 'Noto Sans KR', sans-serif;
            font-weight: 300;
            font-size: 16px;
        }

        .font-16-100 {
            font-family: 'Noto Sans KR', sans-serif;
            font-weight: 100;
            font-size: 16px;
        }

        /* 폰트14 */
        .font-14-900 {
            font-family: 'Noto Sans KR', sans-serif;
            font-weight: 900;
            font-size: 14px;
        }

        .font-14-700 {
            font-family: 'Noto Sans KR', sans-serif;
            font-weight: 700;
            font-size: 14px;
        }

        .font-14-500 {
            font-family: 'Noto Sans KR', sans-serif;
            font-weight: 500;
            font-size: 14px;
        }
        .font-14-400 {
            font-family: 'Noto Sans KR', sans-serif;
            font-weight: 400;
            font-size: 14px;
        }

        .font-14-300 {
            font-family: 'Noto Sans KR', sans-serif;
            font-weight: 300;
            font-size: 14px;
        }

        .font-14-100 {
            font-family: 'Noto Sans KR', sans-serif;
            font-weight: 100;
            font-size: 14px;
        }

        /* 폰트12 */
        .font-12-900 {
            font-family: 'Noto Sans KR', sans-serif;
            font-weight: 900;
            font-size: 12px;
        }

        .font-12-700 {
            font-family: 'Noto Sans KR', sans-serif;
            font-weight: 700;
            font-size: 12px;
        }

        .font-12-500 {
            font-family: 'Noto Sans KR', sans-serif;
            font-weight: 500;
            font-size: 12px;
        }
        .font-12-400 {
            font-family: 'Noto Sans KR', sans-serif;
            font-weight: 400;
            font-size: 12px;
        }

        .font-12-300 {
            font-family: 'Noto Sans KR', sans-serif;
            font-weight: 300;
            font-size: 12px;
        }

        .font-12-100 {
            font-family: 'Noto Sans KR', sans-serif;
            font-weight: 100;
            font-size: 12px;
        }

        /* 폰트10 */
        .font-10-900 {
            font-family: 'Noto Sans KR', sans-serif;
            font-weight: 900;
            font-size: 10px;
        }

        .font-10-700 {
            font-family: 'Noto Sans KR', sans-serif;
            font-weight: 700;
            font-size: 10px;
        }

        .font-10-500 {
            font-family: 'Noto Sans KR', sans-serif;
            font-weight: 500;
            font-size: 10px;
        }
        .font-10-400 {
            font-family: 'Noto Sans KR', sans-serif;
            font-weight: 400;
            font-size: 10px;
        }

        .font-10-300 {
            font-family: 'Noto Sans KR', sans-serif;
            font-weight: 300;
            font-size: 10px;
        }

        .font-10-100 {
            font-family: 'Noto Sans KR', sans-serif;
            font-weight: 100;
            font-size: 10px;
        }