<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="org.zerock.momofit.mapper.mypage.MyInfoModifyMapper">
    
    <select id="selectUserPass" resultType="String">
    	SELECT
		    pass
		FROM
		    users
		WHERE 
		    user_no = #{user_no}	
    </select>


</mapper>