section {
    margin: 40px auto;
}

.section_wrap {
    display: flex;
    justify-content: space-between;
}



/* Best 모임 */
.best_txt {
    text-align: left;
    margin-left: 80px;
    margin-top: 20px;

}

.linear-gradient{
    background: linear-gradient(to top, rgba(255, 179, 0, 0.419) 50%, transparent 50%);
}

.best_inner {
    width: 1150px;
    height: 243px;

    display: flex;
    justify-content: space-around;
    
}

.best_outter {
    max-width: 1150px;
    margin-left: 50px;
    display: flex;
    align-content: center;
    justify-content: space-around;

}



.left_butten {
    display: flex;
    align-items: center;
    font-size: 30px;
    color: rgb(20 167 255);
    margin-right: 1px;



}

.right_butten {
    display: flex;
    align-items: center;
    font-size: 30px;
    color: rgb(20 167 255);
}

.best_group{
    width: 1150px;
}


/* 모임목록 */


	
	
.groups {
    margin-top: 100px;
    margin-left: 40px;
    width: 1050px;
}

.group_box {
    width: 250px;
    height: 230px;
    box-shadow: 1px 1px 5px -1px gray;
    /* margin: 7px 7px 0px 4px; */
    margin: 10px;

    border-radius: 7px 7px 7px 7px;
    overflow: hidden;

    color:#32305b;
}

.group_box_inner {
    width: 250px;
    height: 150px;
}

.group_box_img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.group_box:hover {
    box-shadow: 0px 0px 10px rgb(129, 129, 129);

    transition: all 0.2s;
}

.group_inner {
    display: flex;
    flex-wrap: wrap;
    /* align-content: space-around; */
    /* justify-content: center; */
    width: 1150px;
    /* height: 1800px; */
}



#group_h3 {
    margin-left: 14px;
    text-align: left;

}

.hr-1 {
    width: 1080px;
    border: solid 1px black;

    display: block;
}


/* 검색 */

.search_area>select {
    width: 200px;
    height: 32px;
    font-size: 15px;
    border: 0;
    border-radius: 15px;
    outline: none;
    padding-left: 10px;
    background-color: rgb(249, 247, 247);
    margin-left: 20px;
    margin-bottom: 10px;
    float: left;
}

.search_area>input {
    width: 200px;
    height: 32px;
    font-size: 15px;
    border: 0;
    border-radius: 15px;
    outline: none;
    padding-left: 10px;
    background-color: rgb(249, 247, 247);
    margin-left: 20px;
    margin-bottom: 10px;
    float: left;
}

.search {
    float: left;
    margin-left: 14px;
    margin-bottom: 20px;
}

.search>input {
    float: left;
    width: 200px;
    height: 30px;
    border-radius: 5px;

    border: 1px solid rgb(20 167 255);
    padding: 5px;
}

.search>input:focus,
.make_group_address>select,
.sport {
    outline: none;
    border: 1px solid rgb(20 167 255);
    border-radius: 5px;
}

.search_btn {
    float: left;
    background-color: white;
    border: none;
    color: rgb(20 167 255);
    font-size: 22px;
    margin-left: 10px;
    margin-top: -2px;
}

/* 관심운동 */
.sport {
    float: left;
    width: 120px;
    height: 30px;
    border: 1px solid rgb(20 167 255);
    border-radius: 5px;
    margin-left: 10px;
}

/* 지역 */
.make_group_address {

    float: left;
    margin-left: 20px;
}

.make_group_address>select {
    height: 30px;
    border: 1px solid rgb(20 167 255);
}

.group_header {
    display: block;
}
.group_aTag, .group_aTag:hover{
    text-decoration-line: none;
    color:black ;
}

/* 버튼 */
.hot_button>button{
    background-color: white;
    border: none;
    width: 50px;
    color: red;
    font-size: 35px;
    float: left;
    margin-left: 2px;
}

.board_write>button{
    
    background-color: white;
    border: none;
    width: 130px;
    float: right;
    margin-right: 30px;
    font-size: 22px;
    margin-top: 10px; 
}

/* 페이징 처리 : 게시판, 댓글*/ 
#paging-div {
    margin-top: 10px;
}

#paging-div ul a {
    text-decoration: none;
    
}

#paging-div ul {
    display: flex;
    justify-content: center;
}

.mb-currPage-step {
    padding : 10px, 10px;
    text-align: center;
    background-color: rgb(240, 240, 240);
    width: 36px;
    height: 36px;
    line-height: 36px;
    border-radius: 18px;
    cursor: pointer;

}

.mb-currPage-step a {
    color: rgba(0, 0, 0, 0.797);
}

.mb-next, .mb-prev {
    margin-left: 15px;
    padding : 10px, 10px;
    text-align: center;
    background-color: rgb(240, 240, 240);
    width: 36px;
    height: 36px;
    line-height: 36px;

    border-radius: 18px;
    cursor: pointer;
}

.mb-next a , .mb-prev a {
    color: rgb(7, 92, 141);
}

.mb-currPage {
    background-color: #2E4361;
    
}

.mb-currPage a {
    color: white;
}

#key1, #key2, #key3 {
	display : none;
}


