<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="org.zerock.momofit.mapper.GroupMapper">

	<select id="getList" resultType="org.zerock.momofit.domain.GroupVO">
		SELECT  /*+ index_desc(groups)*/ *
		FROM GROUPS
		WHERE group_no > 0
	</select>
	
	<insert id="insert">
		insert into Groups(group_no, group_name, member_max, schedule, group_date, group_like, user_no) 
		values (groups_seq.nextval, #{group_name}, #{member_max}, #{schedule}, #{group_date}, #{group_like}, #{user_no})
	</insert>
	
	<insert id="insertSelectKey">
		<selectKey keyProperty="group_no" order="BEFORE"
		resultType="Integer">
			select groups_seq.nextval from dual
		</selectKey>
		
		insert into Groups (group_no, group_name, sports, member_max, schedule, group_date, group_like, user_no)
		values (#{group_no}, #{group_name}, #{sports}, #{member_max}, #{schedule}, #{group_date}, #{group_like}, #{user_no})
	</insert>
	
	<select id="read" resultType="org.zerock.momofit.domain.GroupVO">
		select * from Groups where group_no = #{group_no}
	</select>
	
	<delete id="delete">
		delete Groups where group_no = #{group_no}
	</delete>
	
	<update id="update">
		update Groups
		set group_name = #{group_name}, member_max = #{member_max}, schedule = #{schedule}, edit = sysdate
		where group_no = #{group_no}
	</update>

</mapper>